.label {
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
  display: block;
}

.loading {
  color: rgba(255, 255, 255, 0.7);
}

/* hide native radio */
.glassRadio input {
  display: none;
}

.glassRadio {
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

/* glass radio completed */
.completed .radioContent {
  background: rgba(0, 255, 42, 0.282);
}

/* glass card */
.radioContent {
  display: flex;
  align-items: center;

  padding: 14px 18px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.35);
  color: white;
  font-weight: 500;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

  transition:
    background 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

/* Hover */
.glassRadio:hover .radioContent {
  background: rgba(255, 255, 255, 0.26);
  transform: translateY(-1px);
}

.completed:hover .radioContent {
  background-color: rgba(0, 255, 42, 0.282);
}

/* Checked (selected) state */
.glassRadio input:checked + .radioContent {
  background: rgba(0, 94, 255, 0.282);
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 12px 32px rgba(0, 0, 0, 0.35);
}

.completed input:checked + .radioContent {
  background-color: rgba(0, 255, 42, 0.282);
}

.warning {
  color: rgb(255, 85, 85);
  margin-bottom: 1rem;
}
